amqp==5.3.1
annotated-types==0.8.0
anyio==4.15.1
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.7.22
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==6.0.8
django-cors-headers==4.9.0
django-celery-beat==2.9.0
django-timezone-field==7.2.2
djangorestframework==3.18.0
drf-spectacular==0.30.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
ollama==0.6.2
packaging==26.3
prompt_toolkit==3.0.53
pydantic==2.13.5
pydantic_core==2.46.5
python-crontab==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
PyYAML==6.0.3
redis==8.1.0
requests==2.32.5
referencing==0.37.0
rpds-py==2026.6.3
ruff==0.16.6
six==1.17.0
sqlparse==0.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.8.3
django_filter==26.1
shortuuid==1.0.13